@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

* {
    padding: 0px;
    margin: 0px;
    @include font-onest;
}

body {
    color: $white;
    background:  $black;
    height: 100vh;
}

h1 {
    font-size: 2em;
    font-weight: 900;
}

.tag {
    background-color: $white-soft;
    padding: 2px 10px 2px 8px;
    border-radius: 100px;
    font-size: 14px;
    width: fit-content;
}

.btnSquare {

    font-size: 18px;
    background-color: inherit;
    border: 0px solid black;
    color: $white;
    display: flex;
}