@use '../utils/variables.scss' as *;

.card {
    background-color: $white-soft;
    border-radius: 8px;
    overflow: hidden;
    width: 110px;
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .textCard {
        background: $black-soft;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 10px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        h4 {
            padding: 8px;
        }
    }

    &:hover .textCard {
        opacity: 1;
    }

    .infoDiv {
        padding: 8px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}