@use '../utils/variables.scss' as *;

#home {
    // background-color: $background-color;
    border-radius: 18px;
    padding: 40px;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}